@keyframes Lines-A {
  0% {
    opacity: 1;
    stroke-dashoffset: 30px;
  }
  100% {
    stroke-dashoffset: 0px;
    opacity: 1;
  }
}

@keyframes Right-Dot-A {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-90deg);
  }
}

@keyframes Left-Dot-A {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(90deg);
  }
}

.cell {
  position: relative;
  width: 100px;
  height: 100px;
  background: #2420ad;
  cursor: pointer;

  &:hover {
    background: purple;
  }
}

.svg-defs {
  height: 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  pointer-events: none;
  transform: translateZ(0);

  .animate__right-dot {
    opacity: 0;
    animation: Right-Dot-A 0.5s cubic-bezier(0.4, 0, 0.58, 1);
    transform-origin: 13.2291665px 13.2291665px;
    transform: rotate(0deg); /*-> -90deg*/
    transform: translateZ(0);
  }

  .animate__left-dot {
    opacity: 0;
    animation: Left-Dot-A 0.5s cubic-bezier(0.4, 0, 0.58, 1);
    transform-origin: 13.2291665px 13.2291665px;
    transform: rotate(0deg); /*-> -90deg*/
  }

  .animate__left-line,
  .animate__right-line {
    opacity: 0;
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    animation: Lines-A 0.5s cubic-bezier(0.4, 0, 0.58, 1);
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
}
